@font-face{
	font-family:'myfont1';
	src:url("../fonts/robo2.ttf");
	src:url("../fonts/ivoca.ttf");

	
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root{
	--cor-geral: #AEAEAE;
	--cor-topo: #0B182F;
	--cor-letra:#96DCE4 ;
	--cor-noticia: #006B89;
	--cor-fundo: #0A5664;
	--cor-laranja: #FFB500;
	--cor-rosa: #EE015E;
}

img{
	max-width:100%;
}
body{
	background-color:var(--cor-geral);
	
}
h2,h1{
	text-align:center;
	font-family:'myfont1';
}
.site{
	background-color:(--cor-fundo);
	max-width:100%;
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
	
}

#topo{
	background-color:var(--cor-topo);
	width:100%;
	height:30vh;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:flex-center;
}

#topo img{
	justify-content:center;
	width:200px;
	height:30vh;
	padding-left:0.5rem;
}

.botoes-topo{
	width:100px;
	height:50px;
	display:flex;
	justify-content:flex-end;
	align-items:flex-start;
	background-color:var(--cor-topo);
	padding:35px;
}

.botoes-topo a{
	font-family:'myfont1';
	padding: .4rem .6rem;
	text-decoration:none;
	text-transform:uppercase;
	font-size:30px;
}
.botao-r{
	margin-right: 10px;
	background-color: var(--cor-rosa);
	border-radius: 10px;
}
.botao-l{
	margin-right: 7px;
	background: var(--cor-laranja);
	border-radius:8px;
}
.botao-r:hover{
	background-color:#740366;
}
.botao-l:hover{
	background-color:#B27F01;
}
#menu{
	background-color:var(--cor-topo);
	display:flex;
	width:100%;
	height:80px;
	justify-content:center;
}
#menu ul{
	display:flex;
	list-style:none;
	justify-content:space-between;
	align-items:center;
}

#menu li a{
	font-family:'myfont1';
	font-size:30px;
	color:var(--cor-letra);
	font-weight:bolder;
	transition:background 200ms;
	text-decoration:none;
	padding-right:150px;
}
#menu li a:hover{
	background-color:var(--cor-rosa);
	color:black;
}
.container{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space around;
	flex-wrap:wrap;
	border:5px solid blck;
	width:100%;
	height:400px;
	background-color:#2D69D1;
}
.container img{
	padding-left:50px;
	padding-right:180px;
	width:120%;
	height:350px;
}
.a{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:flex-end;
	flex-wrap:wrap;

}
.a h1{
	padding:20px 50px 40px 30px;
	font-size:30px;
	color:black;
	font-family:url('myfont1');
	height:60px;
}
.a p{
	border-top:15px solid #2D69D1;
	font-family:'myfont1';
	font-size:15px;
	color:white;
	height:300px;
}
.sentainer{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space evenly;
	flex-wrap:wrap;
	width:100%;
	height:350px;
	background-color:#2D69D1;
}
.b{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	flex-wrap:wrap;
}
.b h1{
	padding-bottom:80px;
}
.b p{
	font-family:'myfont1';
	font-size:15px;
	color:white;
	padding-left:50px;
	padding-right:20px;
}
.sentainer img{
	padding-left:130px;
	width:556;
	height:326px;
	
}

#rodape{
	background-color:var(--cor-topo);
	color:gray;
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding-left:10px;
	width:100%;
}
.final{
	height:100px;
	display:flex;
	justify-content:space-around;
	align-items:center;
}

.final img{
	width:30px;
	height:30px;
}

.final a{
	color:gray;
	width:100px;
	text-decoration:none;
	display:flex;
	justify-content:space-evenly;
	transition:200ms;
}